.modal__content-type-image {
  padding: 0;
}

.modal__image-preview {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal__close-preview {
  top: 24px;
  right: 24px;
}

.modal__caption {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 12px;
}

.modal__weather {
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.modal__footer {
  padding-left: 32px;
  padding-bottom: 32px;
}
