.switch {
  display: flex;
  position: relative;
  margin-left: auto;
  align-items: center;
  opacity: 1;
  color: rgba(126, 126, 126, 1);
  padding-right: 20px;
}

.switch:hover {
  color: black;
}

.switch:hover .switch__box {
  border-color: black;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid rgba(126, 126, 126, 1);
  width: 56px;
  height: 28px;
  appearance: none;
}

.switch__slider {
  border-radius: 20px;
  width: 30px;
  height: 28px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
}

.switch__slider-F {
  left: 28px;
}

.switch__slider-C {
  left: 0;
}

.switch__active {
  color: white;
}

.switch__temp-C {
  position: absolute;
  left: 8px;
}

.switch__temp-F {
  position: absolute;
  right: 28px;
}
